<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Search</title>
</head>
<body>
    <h1>User Search</h1>
    <form action="/search/results" method="get">
        <label for="firstName">First Name</label>
        <input name="firstName" type="text" id="firstName">
        <button type="submit">Search</button>
    </form>
    <a href="../">Home</a>
</body>
</html>